<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title>angular-ts-example</title>
</head>
<body ng-controller="MovieController as vm">

  <ul>
    <li ng-repeat="dog in vm.dogs">
      <span>{{dog.name}}</span> - <img ng-src="{{dog.img}}" height="100px" width="100px"/>
    </li>
  </ul>
  <ul>
    <li ng-repeat="bunny in vm.bunnies">
      <span>{{bunny.name}}</span> - <img ng-src="{{bunny.img}}" height="100px" width="100px"/>
    </li>
  </ul>

  <!--libraries/frameworks/scripts-->
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script src="ngApp/app.js"></script>
  <script src="ngApp/controller.js"></script>
</body>
</html>
