<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title>angular-ts-example</title>
</head>
<body ng-controller="MovieController as vm">

  <button type="button" name="button" ng-click="vm.pickColor('red')">Red</button>
  <button type="button" name="button" ng-click="vm.pickColor('Green')">Green</button>
  <button type="button" name="button" ng-click="vm.pickColor('Blue')">Blue</button>

  <!--libraries/frameworks/scripts-->
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script src="ngApp/app.js"></script>
  <script src="ngApp/controller.js"></script>
</body>
</html>
